@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
	box-sizing:border-box;
}

body{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
  background-color: #f5f6f7;
  line-height: 1.5em;
  color : #222;
  margin: 0;
}

.header{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
	padding-top:20px;
	padding-bottom:20px;
	text-align: center;
	
}

.container{
		width:450px;
		margin:auto;
}

.field input{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

#emp_email_id {
    border: 1px solid #dadada;
    padding: 15px;
    width: 35%;
    margin-bottom: 5px;
		float: left;
}

#and{
	display: inline-block;
	margin:auto;
	width: 5%;
	text-align: center;
}

#emp_email_d {
    border: 1px solid #dadada;
    padding: 15px;
    width: 60%;
    margin-bottom: 5px;
		float: right;
}


#email_dd {
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
	
}


.field input[type=button]{
	cursor: pointer;
}

.field select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}


.content{
	padding-bottom: 20px;
}


.footer{
	display: flex;
	width:100%;
	gap:10px;
}

.footer input[type=submit]{
	background-color: #515e93;
	border:1px solid #dadada;
	padding: 15px;
	color:#fff;
	width: 50%;
	cursor: pointer;
}


.footer input[type=reset]{
	background-color: #ebad34;
	border:1px solid #dadada;
	padding: 15px;
	color:#fff;
	width: 50%;
	cursor: pointer;
}

#footertxt{
 text-align: center;
	
}


.error{
	color: red;
}
